html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.line{
    text-decoration: none;
}

li{
    list-style: none;
}


// .............................................
.nav{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

 .navbar{
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;


    .logo{
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #222222;
        color: #fff;
        font-family:  'Montserrat', sans-serif;
    }

    ul{
        width: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .line{
            color: #000;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
        }
    }
   }
    
}

// ..........Footer......

.foot {
    width: 100%;
    height: 300px;
    display: flex;

    .left{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #222222;
      .main{
          width: 60%;


        .logo-2{
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            color: #222222;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
        }
        p{
            color: #706f6f;
            font-size: 14px;
            font-family: 'Montserrat', sans-serif;
        }
      }

      
        

    }

    .right{
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #222222;

        .article{
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
        }
        .line{
            color: #706f6f;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 400;
        }

        li{
            color: #706f6f;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
    }
}


// .........HomePage.....
.containerr{
    width: 100%;
   



    .text{
        width: 100%;
        height: 520px;
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 150px;
            color: #222222;
        }
    }

    .pictures{
        width: 100%;
        height: 800px;

        .first{
            width: 100%;
            display: flex;
            justify-content: space-around;

            img{
                width: 360px;
                height: 360px;
            }
        }
        .second{
            width: 100%;
            display: flex;
            justify-content: space-between;

            img{
                width: 360px;
                height: 360px;
            }
        }

    }
}

// ..........Portfolio........

.pictures{
    width: 100%;
    height: 800px;

    .first{
        width: 100%;
        display: flex;
        justify-content: space-around;

        img{
            width: 360px;
            height: 360px;
        }
    }
    .second{
        width: 100%;
        display: flex;
        justify-content: space-between;

        img{
            width: 360px;
            height: 360px;
        }
    }
}


// ..........InfoPage.........

.image{
    max-width: 100%;
    margin-top: 80px;

    img{
        max-width: 100%;
        height: auto;
    }

}


.about{
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid;

    .h-text{
        display: flex;
        width: 20%;
        margin-top: 20px;

        h4{
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
        }
    }
    .p-text{
        width: 70%;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
}

.what{
    width: 100%;
    height: 567px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid;
    margin-top: 100px;

    .h-texts{
        display: flex;
        width: 20%;
        margin-top: 20px;

        h4{
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
        }
    }

    .p-texts{
        width: 70%;
        font-weight: 500;

        h1{
            font-size: 23px;
            font-family:'Montserrat', sans-serif;
        }
    }
}

.contact{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;


    .cnt-text{
        display: flex;
        width: 20%;
        margin-top: 20px;

        h4{
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
        }
    }

    .p-text{
        width: 70%;
        font-weight: 500;

        p{
            font-size: 16px;
            font-family:'Montserrat', sans-serif;
        }
    }
}

//............ BlogPage.......

.blog-section{
    display: flex;
    margin-top: 104px;


    .right{
        min-width: 20%;
        height: auto;
        margin-left: 20px;

        input{
            border: none;
            border-bottom: 1px solid #c2c0c0 ;
            width: 200px;
            color: #F9F9F9;
            font-family: 'Montserrat', sans-serif;
        }

        .part-other{
            display: flex;
            flex-direction: column;
            color: #000;
            margin-top: 40px;

            h4::after{
                background-color: #C4C4C4;
                display: block;
                content: "";
                width: 18px;
                height: 2px;
                margin-top: 12px;
            }

            ul{
                height: 50px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                font-size: 14px;
                a{
                    color: #000;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }

        .part-1{
            display: flex;
            flex-direction: column;
            color: #000;
            margin-top: 40px;

            h4::after{
                background-color: #C4C4C4;
                display: block;
                content: "";
                width: 18px;
                height: 2px;
                margin-top: 12px;
            }

            ul{
                height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                font-size: 14px;
                a{
                    color: #000;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }

    .left{
        width: 70%;

        ul{
            display: flex;
            flex-direction: column;

            .post-1{
                min-height: 290px;
                margin-bottom: 50px;
                background-color: #F9F9F9;

                .texts{
                    width: 50%;
                    height: 290px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 40px;
                    a{
                        color: #000;;
                    }
                }
            }
            .post-2{
                min-height: 290px;
                margin-bottom: 50px;
                background-color: #F9F9F9;

                .texts{
                    width: 50%;
                    height: 290px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 40px;
                    a{
                        color: #000;
                    }
                }
            }
            .post-3{
                min-height: 290px;
                margin-bottom: 50px;
                background-color: #F9F9F9;
                display: flex;
                img{
                    max-width: 350px;
                }
                .texts{
                    width: 100%;
                    height: 290px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h3{
                        text-align: center;
                    }
                    p{
                        margin-left: -20px;
                    }
                    a{
                        color: #000;
                        margin-left: -20px;
                    }
                }
            }
            .post-4{
                min-height: 290px;
                margin-bottom: 50px;
                background-color: #F9F9F9;
                .texts{
                    width: 50%;
                    height: 290px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 40px;
                    a{
                        color: #000;
                    }
                }
            }
            .post-5{
                min-height: 290px;
                margin-bottom: 50px;
                background-color: #F9F9F9;
                .texts{
                    width: 50%;
                    height: 290px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 40px;
                    a{
                        color: #000;
                    }
                }
            }
            .post-6{
                min-height: 290px;
                margin-bottom: 50px;
                background-color: #F9F9F9;
                .texts{
                    width: 60%;
                    height: 290px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 40px;
                    a{
                        color: #000;
                        
                    }
                }
            }
        }
    }
};



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    // HomePage
    .containerr{
        width: 100%;
       
    
    
    
        .text{
            width: 122%;
            height: 520px;
            display: flex;
            justify-content: center;
            align-items: center;
    
            h1{
                font-size: 122px;
                color: #222222;
            }
        }
    }
    .containerr{
        width: 100%;
        height: 3000px;
      
      .pictures{
          width: 100%;
      
          .first{
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
      
              img{
                  width: 360px;
                  height: 360px;
                  margin-top: 20px;
              }
          }
          .second{
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
      
              img{
                  width: 360px;
                  height: 360px;
                  margin-top: 20px;
              }
          }
       }
     }
    // ...........Navbar..........
    .nav{
      
            ul{
                width: 40%;
                display: flex;
                justify-content: space-around;
                align-items: center;
              li{
                  padding-left: 10px;
                .line{
                    color: #000;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 16px;
                }
              }
                
            }
        
    }

    //............Portfolio.......
    .port{
        width: 100%;
        height: 3000px;
      
      .pictures{
          width: 100%;
      
          .first{
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
      
              img{
                  width: 360px;
                  height: 360px;
                  margin-top: 20px;
              }
          }
          .second{
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
      
              img{
                  width: 360px;
                  height: 360px;
                  margin-top: 20px;
              }
          }
       }
     }
  
    // ..........InfoPage..........
      .about{
          display: flex;
          flex-direction: column;
          height: 360px;

          .p-text{
            width: 70%;

            p{
                width: 280px;
                font-size: 13px;
            }
          }
      }

      .what{
        display: flex;
        flex-direction: column;
        height: 668px;

        .h-texts{
            display: flex;
            width: 41%;
            margin-top: 20px;
        }

        .p-texts{
            width: 70%;
            font-weight: 500;
    
            h1{
                font-size: 15px;
                font-family:'Montserrat', sans-serif;
            }
        }

        p{
         font-size: 13px;
        }
      }

      .contact{
        display: flex;
        flex-direction: column;

        p{
            font-size: 13px
        }
      }




    // ..........Footer............
    .foot {
        width: 100%;
        height: 261px;
        display: flex;
        flex-direction: column;
        .left{
            width: 124%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #222222;

            .main{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
            }
        }
        .right{
            width: 124%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: #222222;
        }
    }
    // .........BlogPage.......... 
    .blog-section{
        display: flex;
        flex-direction: column;
        margin-top: 104px;
    
        .post-3{
            min-height: 290px;
            margin-bottom: 50px;
            background-color: #F9F9F9;
            display: flex;
            flex-direction: column;
            img{
                width: 100%;
                height: 150px;
            }
            .texts{
                width: 100%;
                height: 290px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h3{
                    text-align: center;
                }
            }        
        }
    }

    // Navbar
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    // Navbar
    .nav{
      
        ul{
            width: 40%;
            display: flex;
            justify-content: space-around;
            align-items: center;
          li{
              padding-left: 10px;
            .line{
                color: #000;
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
            }
          }
            
        }
    
}
    // HomePage
    .containerr{
        width: 100%;
        height: 3000px;
      
      .pictures{
          width: 100%;
      
          .first{
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
      
              img{
                  width: 360px;
                  height: 360px;
                  margin-top: 20px;
              }
          }
          .second{
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
      
              img{
                  width: 360px;
                  height: 360px;
                  margin-top: 20px;
              }
          }
       }
     }
     // Portfolio
    .port{
        width: 100%;
        height: 3000px;
      
      .pictures{
          width: 100%;
      
          .first{
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
      
              img{
                  width: 360px;
                  height: 360px;
                  margin-top: 20px;
              }
          }
          .second{
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
      
              img{
                  width: 360px;
                  height: 360px;
                  margin-top: 20px;
              }
          }
       }
     }
    .about{
        width: 100%;
        height: 320px;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid;
    }
    // ..........Footer............
    .foot {
        width: 100%;
        height: 300px;
        display: flex;
    }


     // .........BlogPage.......... 
    .blog-section{
        display: flex;
        flex-direction: column;
        margin-top: 104px;

        .left{
            width: 100%;
            img{
                height: 290px;
            }
        }
    }
}

// Navbar

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
     // Portfolio
     .port{
        width: 100%;
        height: 1150px;
      
      .pictures{
          width: 100%;
      
          .first{
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-around;
      
              img{
                  width: 260px;
                  height: 260px;
                  margin-top: 20px;
              }
          }
          .second{
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-around;
      
              img{
                  width: 260px;
                  height: 260px;
                  margin-top: 20px;
              }
          }
       }
     }
     // .........BlogPage.......... 
    .blog-section{
        display: flex;
        flex-direction: row;
        margin-top: 104px;

        img{
            max-width: 350px;
        }
    }

    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    // Portfolio
    .containerr{
        width: 100%;
        height: 1500px;
       
    
    
    
        .text{
            width: 100%;
            height: 520px;
            display: flex;
            justify-content: center;
            align-items: center;
    
            h1{
                font-size: 150px;
                color: #222222;
            }
        }
    
        .pictures{
            width: 100%;
            height: 800px;
    
            .first{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
    
                img{
                    width: 260px;
                    height: 260px;
                }
            }
            .second{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
    
                img{
                    width: 260px;
                    height: 260px;
                }
            }
    
        }
    }
     // .........BlogPage.......... 
    .blog-section{
        display: flex;
        margin-top: 104px;

        img{
            max-width: 350px;
        }
    }

    // Navbar
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .containerr{
        width: 100%;
        height: 1500px;
       
    
    
    
        .text{
            width: 100%;
            height: 520px;
            display: flex;
            justify-content: center;
            align-items: center;
    
            h1{
                font-size: 150px;
                color: #222222;
            }
        }
    
        .pictures{
            width: 100%;
            height: 800px;
    
            .first{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
    
                img{
                    width: 360px;
                    height: 360px;
                }
            }
            .second{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
    
                img{
                    width: 360px;
                    height: 360px;
                }
            }
    
        }
    }
     // .........BlogPage.......... 
    .blog-section{
        display: flex;
        margin-top: 104px;

        img{
            max-width: 350px;
        }
    }

    // Navbar
}



